<form #signInForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="title">
    <i class="material-icons medium">account_circle</i>
    <span>SIGN IN</span>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <input
      class="email validate"
      type="email"
      pattern="^\S+@\S+$"
      required="required"
      name="email"
      #emailInput="ngModel"
      [ngClass]="emailValidity"
      [(ngModel)]="signInRequest.email" />
    <label
      class="email"
      for="email"
      [attr.data-error]="emailErrorMessage">
        Your email
    </label>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <input
      class="password validate"
      type="password"
      pattern=".{6,30}"
      required="required"
      name="password"
      #passwordInput="ngModel"
      [ngClass]="passwordValidity"
      [(ngModel)]="signInRequest.password" />
    <label
      class="password"
      for="password"
      [attr.data-error]="passwordErrorMessage">
        Your password
    </label>
  </div>

  <div class="signup-suggestion">
    Don't have an account? <a [routerLink]="['/signup']">Sign Up</a>
  </div>

  <button
    [disabled]="!signInForm.form.valid"
    type="submit"
    class="login btn-large waves-effect waves-light hoverable">
      <i class="material-icons left">check_circle</i>
      <span>Sign In</span>
  </button>

</form>