<div class="card sticky-action hoverable">

  <div class="user-data">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" [src]="user.icon"/>
    </div>

    <div class="card-content">
      <div class="card-title activator">
        <span class="username">{{ user.name }}</span>
        <span class="score">{{ user.score }}</span>
        <i class="score material-icons">stars</i>
        <span class="rank">
          <img [src]="user.rank.image" [alt]="user.rank.name" />
        </span>
      </div>
    </div>
  </div>

  <form class="card-action" #userDetailsForm="ngForm" (ngSubmit)="onUserDetailsSubmit()">
    <div class="input-field">
      <i class="material-icons prefix">account_circle</i>
      <input
        id="username"
        class="validate"
        type="text"
        pattern="[a-zA-Z0-9]{4,30}"
        required="required"
        name="username"
        #usernameInput="ngModel"
        [ngClass]="usernameValidity()"
        [(ngModel)]="user.name" />
      <label
        class="active"
        for="username"
        [attr.data-error]="usernameErrorMessage">
          Username
      </label>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">email</i>
      <input
        id="email"
        class="validate"
        type="email"
        pattern="^\S+@\S+$"
        required="required"
        name="email"
        #emailInput="ngModel"
        [ngClass]="emailValidity()"
        [(ngModel)]="user.email" />
      <label
        class="active"
        for="email"
        [attr.data-error]="emailErrorMessage">
          Email
      </label>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">vpn_key</i>
      <input
        id="password"
        class="validate"
        type="password"
        pattern=".{6,30}"
        required="required"
        name="password"
        [ngClass]="passwordValidity()"
        #passwordInput="ngModel"
        [(ngModel)]="user.password" />
      <label
        class="active"
        for="password"
        [attr.data-error]="passwordErrorMessage">
          Password
      </label>
    </div>

    <button
      class="btn-large waves-effect waves-light"
      type="submit"
      (click)="onUserDetailsSubmit()"
      [disabled]="!userDetailsForm.form.valid">
      <span>{{ submitButtonText }}</span>
      <i class="material-icons left">save</i>
    </button>
  </form>

  <div class="card-reveal">
    <div class="card-title">Icon
      <i #close class="material-icons right">close</i>
    </div>

    <form #imageUploadForm (ngSubmit)="onImageUploadSubmit()">
      <div class="file-field input-field">
        
        <button class="btn-large waves-effect waves-light">
          <span>File</span>
          <i class="material-icons left">attach_file</i>
          <input
            (change)="onFileChange($event)"
            type="file"
            data-max-size="2048"
            placeholder="Upload file"
            required="required"
            accept=".png,.jpg,.jpeg,.bmp"/>
        </button>

        <div class="file-path-wrapper">
          <input 
            class="file-path validate"
            type="text"
            placeholder="Choose file to upload"/>
        </div>

        <p>Note: Accepts only files with size up to 1mb </p>

        <button
          class="btn-large waves-effect waves-light"
          type="submit"
          [disabled]="!this.isFileValid()"
          (click)="onImageUploadSubmit()">
            <span>Upload</span>
            <i class="material-icons left">file_upload</i>
        </button>

      </div>
    </form>
  </div>
</div>